# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Private/Environment Files 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# If you saved your Firebase JSON as a file, ignore it:
*.json
!package.json
!package-lock.json
!context.json

# Dependencies
node_modules/

# Build outputs
dist
dist-ssr
build/

# Editor/OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Netlify
.netlify/